@import "tailwindcss";

@theme {
  --color-brown-100: #ece0d1;
  --color-brown-300: #dbc1ac;
  --color-browm-600: #967259;
  --color-brown-900: #634832;

  --shadow-normal: 0px 1px 10px rgba(0;0, 0, 0.05);

  --radius-4xl: 2rem;

  --font-Dana: "Dana";
  --font-DanaMeduim: "Dana Meduim";
  --font-DanaDemiBold: "Dana DemiBold";
  --font-MorabbaLight: "Morabba Light";
  --font-MorabbaMeduim: "Morabba Meduim";
  --font-MorabbaBold: "Morabba Bold";

  --breakpoints-xs: 480px;

  --spacing-30: 7.5rem;
  --spacing-50: 12.5rem;
  --spacing-4.5: 1.125rem;
}

@utility container {
  @apply mx-auto px-4 lg:px-2.5;
}

@layer utilities {
  .bg-home-mobile {
    background-image: url("../public/images/headerBgMobile.webp");
  }
  .bg-home-desktop {
    background-image: url("../public/images/headerBgDesktop.webp");
  }
  .items-hover:hover {
    transition: colors;
    color: #fdba74;
    display: inline-block;
  }
  .items-leading {
    line-height: 56px;
    font-size: 18px;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
  .ltr-text {
    direction: ltr;
    text-align: left;
  }
}

@layer base {
  @font-face {
    font-family: "Dana";
    src: url("../public/fonts/Dana/woff2/DanaFaNum-Regular.woff2")
      format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Dana Medium";
    src: url(../public/fonts/Dana/woff2/DanaFaNum-Medium.woff2) format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Dana DemiBold";
    src: url("../public/fonts/Dana/woff2/DanaFaNum-DemiBold.woff2")
      format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "Morabba Light";
    src: url("../public/fonts/Morabba/woff2/Morabba-Light.woff2")
      format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Morabba Medium";
    src: url("../public/fonts/Morabba/woff2/Morabba-Medium.woff2")
      format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Morabba Bold";
    src: url("../public/fonts/Morabba/woff2/Morabba-Bold.woff2") format("woff2");
    font-display: swap;
  }
}

@layer components {
  .submenu {
    @apply hidden flex-col gap-y-3 pr-7 mt-3 text-sm text-zinc-600 dark:text-white;
  }
  .submenu--open {
    @apply flex;
  }
  .cart--open {
    @apply flex;
  }
  .submenu__item--active::after {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 100px;
    background-color: #fdba74;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .submenu__item--active {
    @apply relative text-orange-300 pr-2.5;
  }
  .overlay {
    @apply invisible opacity-0 md:hidden fixed inset-0 w-full h-full bg-black/40 z-10 transition-all;
  }
  .overlay--visible {
    @apply visible opacity-100;
  }

  .circle {
    @apply flex justify-center items-center border border-b-0 border-l-0 border-r-0 rounded-full;
  }
  .circle--main {
    @apply absolute bottom-0 right-0 left-0 mx-auto translate-y-2/4 hidden md:flex;
  }
  .circle--lg {
    @apply w-[203px] h-[203px]  border-white/25;
  }
  .cricle--md {
    @apply w-[145px] h-[145px] border-white/50;
  }
  .circle--sm {
    @apply w-[95px] h-[95px] border-white/80;
  }
  /* .curve {
    @apply dark:bg-zinc-800;
  } */

  @media screen and (min-width: 1280px) {
    html.dark .products {
      background-image: url(../public/images/products-bg.png);
    }

    .products {
      background: linear-gradient(
          rgba(243, 244, 246, 0.65),
          rgba(243, 244, 246, 0.65)
        ),
        url(../public/images/products-bg.png);
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }

  .section-title {
    @apply text-2xl md:text-5xl text-zinc-700 dark:text-white;
  }
  .section-subtitle {
    @apply inline-block text-lg md:text-3xl font-MorabbaLight mt-0.5 md:mt-1.5 text-zinc-700 dark:text-white;
  }
  .section-link {
    @apply flex items-center md:gap-x-1 pr-3 pl-1 rounded-md text-base md:text-xl text-orange-300 md:hover:bg-orange-300/20 transition-colors tracking-tighter;
  }

  .offer {
    @apply relative;
  }
  .offer::after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    inset: 0;
    margin: auto;
    background-color: #ef4444;
    top: -2px;
  }

  .category-banner__item1 {
    background: linear-gradient(
        270deg,
        rgba(0, 0, 0, 0.6) 33.85%,
        rgba(243, 244, 246, 0.1) 100%
      ),
      url(../public/images/categories/category-right.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .category-banner__item2 {
    background: linear-gradient(
        270deg,
        rgba(0, 0, 0, 0.6) 33.85%,
        rgba(243, 244, 246, 0.1) 100%
      ),
      url(../public/images/categories/category-left.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .services {
    @apply relative;
  }
  .services::after,
  .services::before {
    content: "";
    display: block;
    position: absolute;
    inset: 0;
    margin: auto;
    background-color: #d1d5db;
  }
  @media screen and (min-width: 480px) {
    .services::after,
    .services::before {
      content: none;
    }
  }
  html.dark .services::after,
  html.dark .services::before {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .services::after {
    width: 1px;
    height: calc(100% + 1.25rem);
  }
  .services::before {
    width: calc(100% - 2rem);
    height: 1px;
  }
}
