@import "tailwindcss";

@font-face {
  font-family: "VAzir-Light";
  src: url(/fonts/Vazir-Light.woff2);
}

@font-face {
  font-family: "VAzir-Meduim";
  src: url(/fonts/Vazir-Medium.woff2);
}

@font-face {
  font-family: "VAzir-Bold";
  src: url(/fonts/Vazir-Bold.woff2);
}

/* * {
    margin: 0;
    padding: 0;
} */
